@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom font */
@font-face {
    font-family: 'Monogram'; /* Name your font */
    src: url('/monogram.ttf') format('truetype'); /* Adjust the path to your font file */
    font-weight: normal; /* Optional: Define the weight */
    font-style: normal;  /* Optional: Define the style */
  }


#infoControl:hover::after{
    content: "info";
    position: absolute;
    left: 0;
    bottom:100%;    
    z-index: 1;
    background-color: black;
    padding: 3px;
}

@layer base{
    body{
        @apply font-monogram
    }
    a{
        @apply text-blue-600 hover:text-blue-800 underline underline-offset-2 ; 
    }
    b{
        @apply text-rose-500
    }
}